<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab7.Properties.Settings.Asm_C2ConnectionString" connectionString="Data Source=TUNGTEK-LAM0019\MSSQLSERVER08;Initial Catalog=Asm_C2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lab7.Properties.Settings.northwindConnectionString"
            connectionString="Data Source=TUNGTEK-LAM0019\MSSQLSERVER08;Initial Catalog=northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>